$color: #9933ff;
$border-color: #ff5050;
$background-color: #ffffff;
$data-color: #003366;
$header-color: #0099ff;

#main-content {
  & header#instructions {
    font-weight: 600;
    h3.instructions-link {
      font-size: 18px;
      cursor: pointer;
      color: $data-color;
      margin-bottom: 10px;
    }
  }

  & #legend-div {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & #legend-box {
      margin: 15px 5vw;
      max-width: 1000px;
      line-height: 1.2;
    }
  }

  & #second-line {
    margin-top: 30px;
  }
}
