$color: #9933ff;
$border-color: #ff5050;
$background-color: 	#ffffff;
$data-color: #003366;
// $background-color: 	#ffffe6;
// saves this color in a variable

body {
    background-color: $background-color;
    font-family: inherit;
}

div#header, main, #main-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 500px;
}

main {
    flex-wrap: wrap;
    // width: 600px;
}

#title {
    margin: 0 auto;
}

#main-content {

    flex-wrap: wrap;
}

#main-content, #title {
    font-family: "Andale Mono", "Roboto Mono", sans-serif;
    color: $color;
    margin: 0 auto;
    max-width: 800px;
}

#title > h1 {
    // background-color: $background-color;
    border: 5px solid $border-color;
    border-radius: 40px 10px;
    padding: 20px;
    margin: 30px;
    font-size: 35px;
    font-weight: 800;

    span {
        font-weight: 800;
    }
}

#main-content > h2 {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 800;
}

#main-content > data {
    color: $data-color;
    padding: 10px 30px;
}

li.first-item {
    color: #0099ff;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
}
