$color: #9933ff;
$border-color: #ff5050;
$background-color: 	#ffffff;
// $background-color: 	#ffffe6;
// saves this color in a variable

body {
    background-color: $background-color;
    font-family: inherit;
}

header, main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 500px;
}

#main, #title {
    font-family: "Andale Mono", "Roboto Mono", sans-serif;
    color: $color;
}

#title > h1 {
    // background-color: $background-color;
    border: 5px solid $border-color;
    border-radius: 40px 10px;
    padding: 20px;
    margin: 30px;
    font-size: 35px;
    font-weight: 800;

    span {
        font-weight: 800;
    }
}
